In [49]:
import pandas as pd
import numpy as np

In [5]:
!cat examples/ex1.csv

9,10,11,12,foo

In [6]:
df = pd.read_csv('examples/ex1.csv')

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
names = ['a', 'b', 'c', 'd', 'message']

In [13]:
pd.read_csv('examples/ex2.csv', names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
!cat examples/csv_mindex.csv

key1	key2	value1	value2
one	a	1	2
one	b	3	4
one	c	5	6
one	d	7	8
two	a	9	10
two	b	11	12
two	c	13	14
two	d	15	16

In [15]:
parsed = pd.read_csv('examples/csv_mindex.csv',index_col=['key1', 'key2'])

ValueError: Index key1 invalid

In [16]:
parsed

NameError: name 'parsed' is not defined

In [17]:
list(open('examples/ex3.txt'))

['              A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491']

In [18]:
result = pd.read_table('examples/ex3.txt', sep='\s+')

In [19]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [21]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [22]:
!cat examples/ex5.csv

something	a	b	c	d	message
one	1	2	3	4	NA
two	5	6		8	world
three	9	10	11	12	foo

In [23]:
result = pd.read_csv('examples/ex5.csv')

In [24]:
result

  something\ta\tb\tc\td\tmessage
0            one\t1\t2\t3\t4\tNA
1          two\t5\t6\t\t8\tworld
2      three\t9\t10\t11\t12\tfoo

In [25]:
 pd.isnull(result)

   something\ta\tb\tc\td\tmessage
0                           False
1                           False
2                           False

In [26]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])

In [27]:
result

  something\ta\tb\tc\td\tmessage
0            one\t1\t2\t3\t4\tNA
1          two\t5\t6\t\t8\tworld
2      three\t9\t10\t11\t12\tfoo

In [28]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [29]:
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something\ta\tb\tc\td\tmessage
0            one\t1\t2\t3\t4\tNA
1          two\t5\t6\t\t8\tworld
2      three\t9\t10\t11\t12\tfoo

In [30]:
pd.options.display.max_rows = 10

In [31]:
result = pd.read_csv('examples/ex6.csv')

In [32]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [33]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [34]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [35]:
chunker

In [36]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [37]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [38]:
data = pd.read_csv('examples/ex5.csv')

In [39]:
data

  something\ta\tb\tc\td\tmessage
0            one\t1\t2\t3\t4\tNA
1          two\t5\t6\t\t8\tworld
2      three\t9\t10\t11\t12\tfoo

In [40]:
data.to_csv('examples/out.csv')

In [41]:
!cat examples/out.csv

,something	a	b	c	d	message
0,one	1	2	3	4	NA
1,two	5	6		8	world
2,three	9	10	11	12	foo

In [42]:
import sys

In [43]:
data.to_csv(sys.stdout, sep='|')

|something	a	b	c	d	message
0|one	1	2	3	4	NA
1|two	5	6		8	world
2|three	9	10	11	12	foo

In [44]:
data.to_csv(sys.stdout, na_rep='NULL')

,something	a	b	c	d	message
0,one	1	2	3	4	NA
1,two	5	6		8	world
2,three	9	10	11	12	foo

In [45]:
data.to_csv(sys.stdout, index=False, header=False)

one	1	2	3	4	NA
two	5	6		8	world
three	9	10	11	12	foo

In [46]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b','c'])

KeyError: "None of [['a', 'b', 'c']] are in the [columns]"

In [47]:
dates = pd.date_range('1/1/2000', periods=7)

In [50]:
ts = pd.Series(np.arange(7), index=dates)

In [51]:
ts.to_csv('examples/tseries.csv')

In [52]:
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [53]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [54]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [55]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [56]:
header, values = lines[0], lines[1:]

In [57]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [58]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [59]:
import json

In [60]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
} """

In [61]:
result = json.loads(obj)

In [62]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [63]:
asjson = json.dumps(result)

In [64]:
siblings = pd.DataFrame(result['siblings'], columns=['name','age'])

In [65]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [67]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [68]:
data = pd.read_json('examples/example.json')

In [69]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [70]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [71]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [72]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [73]:
len(tables)

1

In [74]:
failures = tables[0]

In [75]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [76]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [77]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

In [78]:
from lxml import objectify

In [92]:
path = 'examples/Performance_MNR.xml'

In [93]:
parsed = objectify.parse(open(path))

In [94]:
root = parsed.getroot()

In [95]:
data = []

In [96]:
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ','DESIRED_CHANGE', 'DECIMAL_PLACES']

In [97]:
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
data.append(el_data)

AttributeError: no such child: INDICATOR

In [98]:
perf = pd.DataFrame(data)

In [99]:
 perf.head()

Empty DataFrame
Columns: []
Index: []

In [100]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [101]:
root

In [102]:
root.get('href')

'http://www.google.com'

In [103]:
root.text

'Google'

In [104]:
frame = pd.read_csv('examples/ex1.csv')

In [105]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [106]:
frame.to_pickle('examples/frame_pickle')

In [107]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [108]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [109]:
store = pd.HDFStore('mydata.h5')

In [110]:
store['obj1'] = frame

In [111]:
store['obj1_col'] = frame['a']

In [112]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [113]:
store['obj1']

           a
0  -1.527224
1   0.025169
2  -0.917503
3   1.755440
4  -0.754337
..       ...
95 -1.529361
96  0.309574
97  1.706275
98 -1.041450
99  0.404675

[100 rows x 1 columns]

In [114]:
store.put('obj2', frame, format='table')

In [115]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.460772
11 -0.382930
12 -0.806560
13  1.478425
14  0.037557
15 -1.606416

In [116]:
store.close()

In [117]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [118]:
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -1.527224
1  0.025169
2 -0.917503
3  1.755440
4 -0.754337

In [119]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\xef\xbb\xbfa,b,c'

In [120]:
pd.read_excel(xlsx, 'Sheet1')

NameError: name 'xlsx' is not defined

In [121]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'\xef\xbb\xbfa,b,c'

In [122]:
frame

           a
0  -1.527224
1   0.025169
2  -0.917503
3   1.755440
4  -0.754337
..       ...
95 -1.529361
96  0.309574
97  1.706275
98 -1.041450
99  0.404675

[100 rows x 1 columns]

In [123]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [124]:
frame.to_excel(writer, 'Sheet1')

In [125]:
writer.save()

In [126]:
frame.to_excel('examples/ex2.xlsx')

In [127]:
import requests

In [128]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [129]:
resp = requests.get(url)

In [130]:
resp

In [131]:
data = resp.json()

In [132]:
data[0]['title']

'Tab completion triggers deprecation warnings with latest Jedi (0.15.1)'

In [133]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])

In [134]:
issues

,number,title,labels,state
0,27900,Tab completion triggers deprecation warnings w...,[],open
1,27899,Add errors option in pandas.DataFrame.to_csv,[],open
2,27898,Issue with str.contains output,[],open
3,27897,DataFrame.groupby.fillna(method='bfill) not eq...,[],open
4,27896,CLN: remove _maybe_update_attributes,[],open
...,...,...,...,...
25,27847,TST: parametrize arithmetic tests,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...",open
26,27846,BUG: boxplot does not work when data has datet...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
27,27844,DOC: GroupBy.head()/tail() documentation,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
28,27840,PERF: Break reference cycle for all Index types,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
29,27838,Parametrize JSON tests,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open

In [135]:
import sqlite3

In [136]:
query = """
 CREATE TABLE test
 (a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER);"""

In [137]:
con = sqlite3.connect('mydata.sqlite')

In [138]:
con.execute(query)

In [139]:
con.commit()

In [140]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]

In [141]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [142]:
con.executemany(stmt, data)

In [143]:
cursor = con.execute('select * from test')

In [144]:
rows = cursor.fetchall()

In [145]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [146]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [147]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [148]:
import sqlalchemy as sqla

In [149]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [150]:
pd.read_sql('select * from test', db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []