In [2]:
import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [4]:
obj=pd.Series([4,7,-5,8])

In [5]:
obj

0    4
1    7
2   -5
3    8
dtype: int64

In [6]:
obj.values

array([ 4,  7, -5,  8])

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj2=pd.Series([4,7,-5,8],index=["a","b","c","d"])

In [11]:
obj2

a    4
b    7
c   -5
d    8
dtype: int64

In [12]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
obj2["a"]

4

In [14]:
obj2["d"]

8

In [17]:
obj2[["b","c","d"]]

b    7
c   -5
d    8
dtype: int64

In [18]:
obj2[obj2 > 0]

a    4
b    7
d    8
dtype: int64

In [19]:
obj2 * 2

a     8
b    14
c   -10
d    16
dtype: int64

In [21]:
import numpy as np
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d    2980.957987
dtype: float64

In [22]:
"b" in obj2

True

In [23]:
'e' in obj2

False

In [25]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000,'Utah': 5000}

In [26]:
obj3 = pd.Series(sdata)

In [27]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [28]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [29]:
obj4 = pd.Series(sdata, index=states)

In [30]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [32]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [33]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [34]:
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [35]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [36]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [37]:
obj4.name = 'population'

In [38]:
obj4.index.name = 'state'

In [39]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [40]:
obj

a    4
b    7
c   -5
d    8
dtype: int64

In [41]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [42]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     8
dtype: int64